div {
  background-color: lightgrey;
  width: 300px;
  border: 15px green dotted;
  padding: 100px;
  margin-top: 100px;
  text-align: justify;
}

img {
  float: left;
  margin-right: 15px;
  width: 200px;
  height: 200px;  
}